<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PayBuy</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="content/paybuy/favicon.ico">
<link rel="stylesheet" href="content/paybuy/styles.css"></head>
<body>
  <app-root></app-root>
<script src="content/paybuy/runtime.js" defer></script><script src="content/paybuy/polyfills.js" defer></script><script src="content/paybuy/vendor.js" defer></script><script src="content/paybuy/main.js" defer></script></body>
</html>
